<a href="https://colab.research.google.com/github/ideepak14ri/git-github/blob/master/Python_Foundation_1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
#Exercise 1: 
#Write a print function that prints "I am new to python!"

In [30]:
print("I am new to python!")

I am new to python!

In [31]:
#Excercise : 2

#To the program where you printed out I am Learning python

#Add a comment It is possible to write within my code blocks without python using #

In [32]:
print("I am Learning Python") 

""" It is possible to write 
within my code blocks without 
python using # """

I am Learning Python

' It is possible to write \nwithin my code blocks without \npython using # '

In [33]:
#Excercise : 3
#Create a variable as called age and add your age to it

In [36]:
age = int(input())
print(age)

27
27

In [37]:
#Excercise : 4
#Create two inputs with one taking the name and the other taking the age

#And then print out Hey <name> I am glad you started learning python at the age of <age>

In [42]:
name = input() #input("Hey")
age = int(input())
print("Hey",name, "I am glad you started learning python at the age of",age)

Deepak
27
Hey Deepak I am glad you started learning python at the age of 27

In [44]:
#Excercise : 5
#What is the datatype of these three variables :

In [45]:
discount = 43.8
height = 143
address = '#301, Pelican Street'
print(type(discount), type(height), type(address))

<class 'float'> <class 'int'> <class 'str'>

In [46]:
#Excercise : 6
#Make a list of your favourite colour, food and place and save it in a list called my_favs

In [48]:
my_favs = ["Pink", "Litty-Chokha", "Gorakhpur"]
print(my_favs)

['Pink', 'Litty-Chokha', 'Gorakhpur']

In [49]:
#Excercise : 7
#Using the range function from 4 to 40 and then check the length

In [52]:
rangeLength = range(4,40)
print(len(rangeLength))

36

In [54]:
#Excercise : 8
#Make a dictionary with students name and their scores !

In [59]:

Student = {"Jake Score": 70, "Mako Score": 75, "Alex Score": 78.5}
print(Student)

{'Jake Score': 70, 'Mako Score': 75, 'Alex Score': 78.5}

In [60]:
#Excercise : 9
#Create a variable with the value of pi as 3.14, create a new variable as radius and assign it a float value, 
#this will be the radius of a circle and then output the area of the circle using the formula pi*radius^2

In [61]:
pi = 3.14
radius = float(input())
areaCircle = pi*(radius**2)
print(areaCircle)

2.0
12.56

In [62]:
#Excercise : 10
#In the last excercise you created a program to get the area of a circle , create a print 
#function that checks if the area that your program created is bigger than 50 or not

In [63]:
pi = 3.14
radius = float(input())
areaCircle = pi*(radius**2)
print(areaCircle>50)

2
False

In [64]:
#Excercise : 11
#Create a print function for our circle area generator to check if the area is between 20 AND 50

In [66]:
pi = 3.14
radius = float(input())
areaCircle = pi*(radius**2)
print(areaCircle>20 and areaCircle<50)

3
True